<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <sitecore>
    <experienceAccelerator>
      <siteManagement>
        <headlessSitesTemplates>
          <template name="Website">{E3E2D58C-DF95-4230-ADC9-279924CECE84}</template>
          <template name="DefaultSiteRootFolder">{A87A00B1-E6DB-45AB-8B54-636FEC3B5523}</template>
          <template name="DefaultStartPage">{76036F5E-CBCE-46D1-AF0A-4143F9B557AA}</template>
        </headlessSitesTemplates>
      </siteManagement>
    </experienceAccelerator>
    <settings>
      <!--  ACCOUNT NAME VALIDATION
                Regular expression for validating account name
        -->
      <setting name="AccountNameValidation" value="^\w[\w\s\.\@]*$"/>
      <!--Enable language fallback for an environment-->
      <setting name="ExperienceEdge.EnableItemLanguageFallback" value="true"/>
      <setting name="ExperienceEdge.EnableFieldLanguageFallback" value="true"/>
    </settings>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.Pipelines.HttpRequest.RequireAuthentication, Sitecore.Kernel">
          <IgnoreRules>
            <prefix hint="utfhelperwebservice">^/helperwebservice.asmx</prefix>
          </IgnoreRules>
        </processor>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>
